/* Comment format */


html, body {
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    font-family: "Space Mono", monospace;
    color: rgb(54, 30, 6);
    align-items: center;
    text-align: center;
}

body {
    color: rgb(54, 30, 6);
    background-image: url('images/base-bg-white.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: calc(var(--vh, 1vh) * 100);
}


h1{
    font-size: 40px;
    font-family: "Almendra Display", monospace;
    background-color: white;
    padding: 10px 2%;
    border-radius: 25px;
    border: 3px solid rgb(54, 30, 6);
}

div{
    font-family: "Sono","Delius", monospace;
    max-width: 600px;
    padding: 10px 10px;
    font-size: 20px;
    background-color: rgb(249, 234, 195);
    padding: 10px 2%;
    border-radius: 25px;
    border: 3px solid rgb(54, 30, 6);
}

#scenes{
    padding: 20px 10px;
    font-size: 20px;
    background-color: white;
    border-radius: 25px;
    border: 3px solid rgb(54, 30, 6);
}

#answers{
    padding: 10px 10px;
    font-size: 20px;
    background-color: white;
    border-radius: 25px;
    border: 3px solid rgb(54, 30, 6);
}

@media screen and (max-width: 600px){
}

#resultImg{
    width: 100%;
    max-width: 600px;
    min-width: 480px;
}

#result{
    padding: 10px 10px;
    font-size: 20px;
    background-color: white;
    border-radius: 25px;
    border: 3px solid rgb(54, 30, 6);
}

button {
    font-family: inherit;
    font-size: 17px;
    color: rgb(54, 30, 6);
    background-color: rgb(249, 234, 195);
    padding: 10px 10px;
    margin: 15px auto 15px auto;
    cursor: pointer;
    border-radius: 25px;
    border: 3px solid rgb(54, 30, 6);
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;

    /* Default for desktops (large & Retina screens) */
    width: clamp(200px, 30%, 500px);
}

/* Hover effect */
button:hover {
    background-color: rgb(54, 30, 6);
    color: rgb(249, 234, 195);
}

footer {
    margin-top: auto;
    bottom: 0;
    text-align: center;
    padding: 10px 0 30px 0;
    color: rgb(54, 30, 6);
    
}

.hidden {
  display: none; 
}

